* {
  margin: 0px;
  padding: 0px;
  
}
.App {
  background-color: #d0fef5;
  color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin: 0px;
  top: 0px;
  position: sticky;
  align-items: baseline;
  background-color: black;
  z-index: 100;
}
nav > h1 {
  font-family: 'Dancing Script', cursive;
  font-size: xx-large;
}
nav > button {
  padding: 15px 30px;
  border-radius: 20px;
  font-size: x-large;
}
.card {
  display: inline;
}
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
.cards {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: x-large; */
  background-color: #0471a6;
  margin: 40px;
  padding: 0px;
  width: 23%;
  display: inline-block;
  align-items: center;
  border-radius: 25px;
}
.cards > img {
  margin: 0px;
  height: 300px;
  width: 310px;
  border-radius: 25px;
}
.cards:hover {
  transform: scale(1.05);
  transition-duration: 1s;
}
.dis > *{
  display: inline;
}
.dis > h3 {
  margin-left: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
#km {
  width: 40%;
  margin: 15px ;
  padding: 8px 15px;
  color: white;
  border-radius: 20px;
  border: 1px solid #c492b1;
  background-color: #150578;
  font-family: 'Mochiy Pop P One', sans-serif;
  cursor: pointer;
}
#sm {
  width: 40%;
  margin: 15px 5px;
  padding: 8px 15px;
  border-radius: 20px;
  background-color: #d0fef5;
  font-family: 'Mochiy Pop P One', sans-serif;
  cursor: pointer;
}
